cloud_id                 = "12341234123412341234"
folder_id                = "12341234123412341234"
zone                     = "ru-central1-a"
image_id                 = "12341234123412341234"
public_key_path          = "~/.ssh/yc.pub"
privat_key_path          = "~/.ssh/yc"
subnet_id                = "12341234123412341234"
service_account_key_file = "/home/admins/otus/secrets/sa-terraform-key.json"
